body { font-family: sans-serif; overflow: hidden;}


.cards {
  display: none;
  position: relative;
  width: 20%;
  height: 100px;
  top: 100%;
  left: 17%;
}

.scene {
  position: absolute;
  width: 220px;
  height: 280px;
  margin: 0px 400px;
  perspective: 600px;
}

.scene3 {
  position: relative;
  width: 220px;
  height: 280px;
  margin: -320px 640px;
  perspective: 600px;
}

.scene4 {
  position: absolute;
  width: 220px;
  height: 280px;
  margin: 40px 880px;
  perspective: 600px;
}

.scene2 {
  position: relative;
  width: 220px;
  height: 280px;
  margin: 40px 160px;
  perspective: 600px;
}

.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
 
}

.card__face--back {
  transform: rotateY(180deg);
}

.card,
.card2,
.card3,
.card4 {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

#myImg,
#myImg2,
#myImg3,
#myImg4 {
  width: 220px;
  height: 280px;
}